<!doctype html></body>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lasertag with Vue</title>
        <script src="Vue.js"></script>
        <link href="lasertag.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <!---------------------------------------------------------MAIN--------------------------------------------------------->
        <div id="app">
            <div id="Main" v-if="showMain">
                <h2>Podium</h2>
                <table id="Podium">
                    <tr>
                        <th>Username</th>
                        <th>Games</th>
                        <th>Puntuation</th>
                    </tr>
                    <tr v-for="player in Top">
                        <td> {{player.username}}</td>
                        <td> {{player.games}}</td>
                        <td> {{player.points}}</td>
                    </tr>
                </table>
                <br/>
                <br/>
                <table class="button">
                    <tr>
                        <td><input type="button" v-on:click="showMain=false;showRegister=true" value="Register Username"/></td>
                        <td><input type="button" v-on:click="showMain=false;showGame=true" value="Create Game"/></td>
                    </tr>
                </table> 
            </div>
            <!------------------------------------------------------REGISTRAR------------------------------------------------------->
            <div id="Register" v-if="showRegister">
                <h2>Creation of users</h2>
                <br/>
                <br/>
                Name:<br/>
                <input type="text" v-model="newUsername" required/>
                <br/>Last name <br/>
                <input type="text"/>
                <br/>Email: <br/>
                <input type="email"/>
                <hr/>
                <table class="button">
                    <tr>
                        <td><input type="submit" v-on:click="saveUsername(newUsername);showMain=true;showRegister=false;newUsername=''" value="Register"/></td>
                        <td><input type="submit" v-on:click="showMain=true;showRegister=false" value="Return to main"/></td>
                    </tr>
                </table>
            </div>
            <!-------------------------------------------------------PARTIDA-------------------------------------------------------->
            <div id="Game" v-if="showGame">
                <b>Game</b>
                <br/>
               
                <table id="Main">
                    <tr>
                        <td>
                            Team Blue:
                            <div id="teamblue">
                                <table>
                                    <tr v-for="Pplayer in blueteam" v-if="Pplayer.team === 'blue'">
                                        <td v-if="regulators">
                                            <input type="button" v-on:click="Pplayer.team='red'" value="red"/>
                                            <input type="button" v-on:click="Pplayer.team=null" value="X"/>
                                        </td>
                                        <td>
                                            {{Pplayer.username}} ({{Pplayer.points}})
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    {{blueteam.length}}/5
                                </div>
                            </div>
                        </td>
                        <td>
                            <span v-if="allPlayers">All playeres</span><span v-if="Score">Score</span>
                            <div id="All">
                                <table v-if="allPlayers">
                                    <tr v-for="Pplayer in list" v-if="Pplayer.team == null">
                                        <td v-if="regulators">
                                            <input type="button" v-on:click="Pplayer.team='blue'" value="blue"/>
                                        </td>
                                        <td>
                                            {{Pplayer.username}}
                                        </td>
                                        <td v-if="regulators">
                                            <input type="button" v-on:click="Pplayer.team='red';" value="red"/>
                                        </td>
                                    </tr>
                                </table>
                                <table v-if="Score">
                                    <tr v-for="(player, key) in redteam">
                                        <td><input type="text" style="width: 50px;" v-model="blueteam[key].temp_points"></td>
                                        <td><input type="text" style="width: 50px;" v-model="redteam[key].temp_points"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <button v-on:click="addTempPoints;finish=true">Add points</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            Team red:
                            <div id="teamred">
                                    <table>
                                        <tr v-for="Pplayer in redteam" v-if="Pplayer.team === 'red'">
                                            <td>
                                                {{Pplayer.username}} ({{Pplayer.points}})
                                            </td>
                                            <td v-if="regulators">
                                                <input type="button" v-on:click="Pplayer.team=null" value="X"/>
                                                <input type="button" v-on:click="Pplayer.team='blue'" value="blue"/>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <div>
                                    {{redteam.length}}/5
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr id="Game"/>
                <table class="button">
                    <tr>
                        <td>
                            <input v-if="redteam.length === 5 && blueteam.length===5 && hide" v-on:click="regulators=false;hide=false;allPlayers=false;Score=true" type="submit" value="Start"/>
                            <input v-else type="button" value="Start" disabled="disabled"/>
                        </td>
                        <td v-if="finish"><input type="submit" value="Finish" v-on:click="finish=false;hide=true;regulators=true;allPlayers=true;Score=false;restartTeams();showMain=true;showGame=false"/></td>
                        <td><input type="submit"  v-on:click="showMain=true;showGame=false;restartTeams();finish=false;hide=true;regulators=true;allPlayers=true;Score=false" value="Return to main"/></td>
                    </tr>
                </table>    
            </div>
        </div>
        <script src="lasertag.js"></script>
    </body>
</html>