<!doctype html></body>
<html>
    <head>
        <meta charset="utf-8">
        <title>Lasertag con Vue</title>
        <script src="Vue.js"></script>
        <link href="lasertag.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <!---------------------------------------------------------MAIN--------------------------------------------------------->
        <div id="app">
            <div id="Main" v-if="MostrarMain">
                <h2>Podio</h2>
                <table id="Podio">
                    <tr>
                        <th>Usuario</th>
                        <th>Partidas</th>
                        <th>Puntuación</th>
                    </tr>
                    <tr v-for="jugador in Millors">
                            <!-- <tr v-for="(campo,index) in ordenarArray"> -->
                        <td> {{jugador.usuario}}</td>
                        <td> {{jugador.partidas}}</td>
                        <td> {{jugador.punts}}</td>
                    </tr>
                </table>
                <br/>
                <br/>
                <table class="boton">
                    <tr>
                        <td><input type="button" v-on:click="MostrarMain=false;MostrarRegistrar=true" value="Registrar Usuario"/></td>
                        <td><input type="button" v-on:click="MostrarMain=false;MostrarPartida=true" value="Crear partida"/></td>
                    </tr>
                </table> 
            </div>
            <!------------------------------------------------------REGISTRAR------------------------------------------------------->
            <div id="Registrar" v-if="MostrarRegistrar">
                <h2>Creación de usarios</h2>
                <br/>
                <br/>
                Nombre:<br/>
                <input type="text" v-model="nuevoUsuario" required/>
                <br/>Apellido <br/>
                <input type="text"/>
                <br/>Correo: <br/>
                <input type="email"/>
                <hr/>
                <table class="boton">
                    <tr>
                        <td><input type="submit" v-on:click="guardarUsuario(nuevoUsuario);MostrarMain=true;MostrarRegistrar=false" value="Registrar"/></td>
                        <td><input type="submit" v-on:click="MostrarMain=true;MostrarRegistrar=false" value="Tornar al main"/></td>
                    </tr>
                </table>
            </div>
            <!-------------------------------------------------------PARTIDA-------------------------------------------------------->
            <div id="Partida" v-if="MostrarPartida">
                <b>Partida</b>
                <br/>
               
                <table id="Main">
                    <tr>
                        <td>
                            Equipo azul:
                            <div id="teamblue">
                                <table>
                                    <tr v-for="Pjugador in blueteam" v-if="Pjugador.equipo === 'blue'">
                                        <td>
                                            <input type="button" v-on:click="Pjugador.equipo='red'" value="red"/>
                                            <input type="button" v-on:click="Pjugador.equipo=null" value="X"/>
                                        </td>
                                        <td>
                                            {{Pjugador.usuario}}
                                        </td>
                                    </tr>
                                </table>
                                <div>
                                    {{blueteam.length}}/5
                                </div>
                            </div>
                        </td>
                        <td>
                            Todos los jugadores
                            <div id="All">
                                <table>
                                    <tr v-for="Pjugador in llista" v-if="Pjugador.equipo == null">
                                        <td>
                                            <input type="button" v-on:click="Pjugador.equipo='blue'" value="blue"/>
                                        </td>
                                        <td>
                                            {{Pjugador.usuario}}
                                        </td>
                                        <td>
                                            <input type="button" v-on:click="Pjugador.equipo='red';" value="red"/>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                        <td>
                            Equipo rojo:
                            <div id="teamred">
                                    <table>
                                        <tr v-for="Pjugador in redteam" v-if="Pjugador.equipo === 'red'">
                                            <td>
                                                {{Pjugador.usuario}}
                                            </td>
                                            <td>
                                                <input type="button" v-on:click="Pjugador.equipo=null" value="X"/>
                                                <input type="button" v-on:click="Pjugador.equipo='blue'" value="blue"/>
                                            </td>
                                        </tr>
                                    </table>
                                </li>
                                <div>
                                    {{redteam.length}}/5
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <hr id="partida"/>
                <table class="boton">
                    <tr>
                        <td>
                            <input v-if="redteam.length === 5 && blueteam.length===5" v-on:click="" type="submit" v-on:click="EmpezarPartida" value="Empezar"/>
                            <input v-else type="button" value="Empezar" disabled="disabled"/>
                        </td>
                        <td v-if="acabar"><input type="submit" value="Acabar"/></td>
                        <td><input type="submit"  v-on:click="MostrarMain=true;MostrarPartida=false" value="Tornar al main"/></td>
                    </tr>
                </table>    
            </div>
        </div>
        <script src="lasertag.js"></script>
    </body>
</html>